@use '../_global' as *;

$row-separator-color: #e1e1e1;
$hover-color: #efefef;

$sort-icon-disabled: '↕';
$sort-icon-up: '↑';
$sort-icon-down: '↓';

$sort-icon-color-disabled: #afafaf;
$sort-icon-color-active: #282bf1;

/* -- basic styles */

.bookTable {
  table {
    margin: 10px auto;
    padding: 5px 10px;
    border-spacing: 0;
    overflow-x: auto;
    text-align: left;
  }

  td,
  th {
    border-bottom: 0.1rem solid $row-separator-color;
    padding: 0.8rem;
  }

  th {
    @include titleFont;
    cursor: pointer;
    white-space: nowrap;
  }

  tr:hover {
    background: $hover-color;
  }

  tr.partial {
    opacity: 0.5;
  }

  tr.audio {
    td:nth-child(5) {
      background: #ffc1071a;

      &::before {
        content: ''; // Must be an empty string to show the background
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23762d16%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20stroke%3D%22%23b24d2d%22%20d%3D%22M11%205%206%209H2v6h4l5%204z%22%2F%3E%3Cpath%20d%3D%22M19.07%204.93a10%2010%200%200%201%200%2014.14M15.54%208.46a5%205%200%200%201%200%207.07%22%2F%3E%3C%2Fsvg%3E');
      }
    }
  }

  /* -- sort arrows */

  .sortHandle:after {
    content: $sort-icon-disabled;
    display: inline-block;
    width: 1em;
    text-align: center;
    padding-left: 2pt;
    color: $sort-icon-color-disabled;
  }

  .sortHandle.sorted::after {
    color: $sort-icon-color-active;
  }

  .sortHandle.sorted.up::after {
    content: $sort-icon-up;
  }

  .sortHandle.sorted.down::after {
    content: $sort-icon-down;
  }

  p.sortHandle {
    display: none;
  }

  /* general (for td) */

  .mono {
    font-family: $mono-font-family;
  }

  .right {
    text-align: right;
  }

  /* -- hide rows on mobile */

  @include small-screen {
    table {
      display: table;
      overflow-x: initial;
    }

    th:nth-of-type(4),
    td:nth-of-type(4) {
      display: none;
    }

    th:nth-of-type(5),
    td:nth-of-type(5) {
      display: none;
    }

    p.sortHandle {
      display: block;
    }
  }

  @include extra-small-screen {
    th:nth-of-type(3),
    td:nth-of-type(3) {
      display: none;
    }
  }
}
