#book_table {
  margin: 10px auto;
  border-spacing: 0;
  overflow-x: auto;
  text-align: left;
}

#book_table td,
#book_table th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 0.8rem;
}

#book_table tr:hover {
    background: #efefef;
}

@media (max-width: 600px) {
  #book_table {
    display: table;
    overflow-x: initial;
  }

  #book_table th:nth-of-type(4),
  #book_table th:nth-of-type(5),
  #book_table td:nth-of-type(4),
  #book_table td:nth-of-type(5) {
    display: none;
  }
}
