@use '../_global' as *;

$row-separator-color: #e1e1e1;
$hover-color: #efefef;

$sort-icon-disabled: '↕';
$sort-icon-up: '↑';
$sort-icon-down: '↓';

$sort-icon-color-disabled: #afafaf;
$sort-icon-color-active: #282bf1;

/* -- basic styles */

.bookTable {
  table {
    margin: 10px auto;
    padding: 5px 10px;
    border-spacing: 0;
    overflow-x: auto;
    text-align: left;
  }

  td,
  th {
    border-bottom: 0.1rem solid $row-separator-color;
    padding: 0.8rem;
  }

  th {
    @include titleFont;
    cursor: pointer;
    white-space: nowrap;
  }

  tr:hover {
    background: $hover-color;
  }

  tr.partial {
    opacity: 0.5;
  }

  /* -- sort arrows */

  .sortHandle:after {
    content: $sort-icon-disabled;
    display: inline-block;
    width: 1em;
    text-align: center;
    padding-left: 2pt;
    color: $sort-icon-color-disabled;
  }

  .sortHandle.sorted::after {
    color: $sort-icon-color-active;
  }

  .sortHandle.sorted.up::after {
    content: $sort-icon-up;
  }

  .sortHandle.sorted.down::after {
    content: $sort-icon-down;
  }

  p.sortHandle {
    display: none;
  }

  /* general (for td) */

  .mono {
    font-family: $mono-font-family;
  }

  .right {
    text-align: right;
  }

  /* -- hide rows on mobile */

  @include small-screen {
    table {
      display: table;
      overflow-x: initial;
    }

    th:nth-of-type(4),
    td:nth-of-type(4) {
      display: none;
    }

    th:nth-of-type(5),
    td:nth-of-type(5) {
      display: none;
    }

    p.sortHandle {
      display: block;
    }
  }

  @include extra-small-screen {
    th:nth-of-type(3),
    td:nth-of-type(3) {
      display: none;
    }
  }
}
