@import '../_global.scss';

$height: 50px;

#top-row {
  height: $height; /* add margin */
  @include titleFont;

  #header {
    position: fixed;
    width: 100%;
    /*
    background-color: white;
    border-bottom: 2px solid black;
    */
    top: 0;
    padding: 10px;
    z-index: 999;

    & > div {
      display: inline-block;
      padding: 3px 8px;
    }

    .current {
      margin-right: 2.5em;

      .icon {
        padding: 0px 3px;
        width: 2em;
        display: inline-block;
        text-align: center;
      }
    }

    .span,
    .btn {
      /* span for the date picker */
      font-family: 'Trebuchet MS', sans-serif;
      text-transform: uppercase;
      letter-spacing: -1px;
    }

    .btn,
    input {
      border: $border;
    }

    .btn {
      cursor: pointer;
      padding: 4px 5px;
      margin-left: 10px;
      background: white;

      &:active {
        background: black;
        color: white;
      }
    }

    .picker {
      position: absolute;
      z-index: 1000;
  
      .rdrDateRangeWrapper {
        margin-top: 10px;
        border: $border;
  
        .rdrDateDisplayItemActive {
          border: none;
  
          input {
            @include titleFont;
            color: black;
          }
        }
      }
    }
  }
}

@include small-screen {
  #top-row {
    height: auto;

    #header {
      text-align: center;
      position: relative;
      background-color: transparent;

      .btn {
        margin-top: $height;
        float: none;
      }

      .current {
        position: fixed;
        /*background-color: #efefef;*/
        display: block;
        padding: 10px;
        width: 100%;
        top: 0;
      }

      .picker {
        /* center on mobile */
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
