@import '../_global.scss';

$height: 50px;

#top-row {
  @include titleFont;

  #header {
    position: fixed;
    padding: 10px;
    z-index: 999;

    .current {
      .icon {
        padding: 0px 3px;
        width: 2em;
        display: inline-block;
        text-align: center;
      }
    }

    .current,
    .span,
    .btn {
      /* span for the date picker */
      @include titleFont;
      display: inline-block;
      padding: 3px 8px;
    }

    .btn,
    input {
      border: $border;
    }

    .btn {
      cursor: pointer;
      margin-left: 10px;
      background: $background;
      font-size: 1em; /* button have a different one */

      &:hover,
      &.focus {
        /* TODO: the focus is a trick that doesn't work when clicking on some other input. Do it in code */
        background: $textDark;
        color: $background;
      }
      &:active {
        box-shadow: 0 2px 3px 0 rgb(35 57 66 / 61%);
      }
    }

    .picker {
      position: absolute;
      z-index: 1000;

      .rdrDateRangeWrapper {
        margin-top: 10px;
        border: $border;

        .rdrDateDisplayItemActive {
          border: none;

          input {
            @include titleFont;
            color: $textDark;
          }
        }
      }
    }
  }
}

@include large-screen {
  #top-row {
    height: $height; /* add margin */

    #header {
      position: fixed;
      top: 0;

      .current {
        margin-right: 2.5em;
      }
    }
  }
}

@include small-screen {
  #top-row {

    #header {
      text-align: center;
      position: relative;
      padding-top: $height; /* add margin */

      .btn {
        margin-bottom: 10pt;
      }

      .current {
        position: fixed;
        padding: 10px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
      }

      .picker {
        /* center on mobile */
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
