@import '../_global.scss';

.info-popover-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  .info-button {
    background: $background;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    svg {
      width: 20px;
      height: 20px;
      color: $textDark;
    }

    &:hover {
      background: rgba($textDark, 0.1);
    }
  }

  .info-popover-content {
    position: absolute;
    top: 100%;
    right: 0;
    background: $background;
    border: 1px solid rgba($textDark, 0);
    border-radius: 15px;
    padding: 1rem;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    color: $textDark;
  }
}

/* Responsive styles for mobile */
@media (max-width: $small-screen) {
  .info-popover-container {
    .info-popover-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80vw;
      max-width: 400px;
      z-index: 1001; /* Ensure it's on top of everything */
    }

    /* Optional: Add a backdrop on mobile for better focus */
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1000;
      display: none; /* Hidden by default */
    }

    .info-popover-content {
      // a bit of a hack to show the backdrop
      + div::before {
        display: block;
      }
    }
  }

  .info-popover-container.showing-popover::before {
    display: block; /* Show backdrop when popover is active */
  }
}
