.App {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

h2, h3, h4, p, table, #plot_month {
  max-width: 1000px;
  margin: auto;
}

h1, h2, h3, h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h1 {
  border-bottom: 2px solid black;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  border-bottom: 2px solid black;
}

p {
  text-align: justify;
  margin-bottom: 1em;
  line-height: 1.5rem;
}